<div class="container-fluid">

<div class="row">

<div class="col-md-8 col-lg-8 columns form">

    <form novalidate name="registerForm">
        
        <h4 class="text-center">Izmeni podatke</h4>
        
    	<div class="form-group">
            <label for="inputChefName">Ime</label>
			<input type="text" required ng-model="user.name" required id="inputChefName" class="form-control">
      	</div>
      	<div class="form-group">
            <label for="inputChefSurname">Prezime</label>
            <input type="text" required ng-model="user.surname" id="inputChefSurname" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputChefAddress">Adresa</label>
            <input type="text" required ng-model="user.address" id="inputChefAddress" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputChefMail">Mail</label>
            <input type="text" required ng-model="user.email" id="inputChefMail" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputChefDressSize">Konfekcijski broj</label>
            <input type="text" required ng-model="user.dressSize" id="inputChefDressSize" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputChefShoeSize">Broj obuće</label>
            <input type="text" required ng-model="user.shoeSize" id="inputChefShoeSize" class="form-control">
        </div>
        <!--  
      	<div class="form-group">
            <label for="inputChefDate">Datum rođenja</label>
            <input type="text" ng-model="user.birthDate" onfocus="(this.type='date')"
                       onblur="(this.type='text')" required id="inputChefDate" class="form-control">
        </div>

      	<div class="form-group">
            <label for="inputChefPhone">Telefon</label>
            <input type="text" required ng-model="user.phoneNumber" id="inputChefPhone" class="form-control">     
      	</div>
        -->
        <p><a type="submit" class="btn btn-success btn-block" ng-click="modifyChef()">Sačuvaj</a></p>
        <p><a type="submit" class="btn btn-danger btn-block" ng-click="cancel()">Odustani</a></p>
        <p><a type="submit" class="btn btn-primary btn-block" ng-click="changePassword()">Izmeni lozinku</a></p>
        
    </form>

</div>



</div>
</div>