<div class="container-fluid">

<div class="row">

<div class="col-md-8 col-lg-8 columns form">

    <form novalidate name="registerForm">
        
        <h4 class="text-center">Izmeni podatke</h4>
        
    	<div class="form-group">
            <label for="inputManagerName">Ime</label>
			<input type="text" required ng-model="user.name" required id="inputManagerName" class="form-control">
      	</div>
      	<div class="form-group">
            <label for="inputManagerSurname">Prezime</label>
            <input type="text" required ng-model="user.surname" id="inputManagerSurname" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputManagerAddress">Adresa</label>
            <input type="text" required ng-model="user.address" id="inputManagerAddress" class="form-control">
        </div>
        <!--  
      	<div class="form-group">
            <label for="inputManagerDate">Datum rođenja</label>
            <input type="text" ng-model="user.birthDate" onfocus="(this.type='date')"
                       onblur="(this.type='text')" required id="inputManagerDate" class="form-control">
        </div>

      	<div class="form-group">
            <label for="inputManagerPhone">Telefon</label>
            <input type="text" required ng-model="user.phoneNumber" id="inputManagerPhone" class="form-control">     
      	</div>
        -->
        <p><a type="submit" class="btn btn-success btn-block" ng-click="modifyManager()">Sačuvaj</a></p>
        <p><a type="submit" class="btn btn-danger btn-block" ng-click="cancel()">Odustani</a></p>
        <p><a type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModalPassword">Promeni Lozinku</a></p>
    </form>

</div>

</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModalPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Promena lozinke</h4>
      </div>
      <div class="modal-body">
      	<form>
          <div class="form-group">
            <label for="pswd" class="control-label">Trenutna lozinka</label>
            <input type="password" class="form-control" ng-model="user.oldPassword" id="pswd">
          </div>
          <div class="npswd">
            <label for="message-text" class="control-label">Nova lozinka</label>
            <input type="password" class="form-control" ng-model="user.newPassword" id="npswd" placeholder="**************">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
        <button type="button" class="btn btn-primary" ng-click="changePassword()">Potvrdi</button>
      </div>
    </div>
  </div>
</div>