<div>
	<div ng-controller="managerProfileController">
	
	<uib-tabset justified="false" class="tabs">
		<uib-tab index="0" heading="Početna" ng-click="home()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab index="1" heading="Restoran" ng-click="restaurant()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab index="2" heading="Radnici" ng-click="workers()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab index="3" heading="Registruj radnika" ng-click="registerWorker()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab index="4" heading="Raspored stolova" ng-click="setLayout()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab index="5" heading="Raspored smena" ng-click="setTimetable()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab index="6" heading="Meni" ng-click="menu()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab index="7" heading="Nabavka namirnica" ng-click="groceries()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab index="8" heading="Izveštaj" ng-click="report()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
	</uib-tabset>
	
	</div>
</div>