<div>
	<div ng-controller="managerProfileController">
	
	<uib-tabset justified="false" class="tabs">
		<uib-tab active="tabs[0].active" heading="Početna" ng-click="home()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[1].active" heading="Restoran" ng-click="restaurant()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[2].active" heading="Radnici" ng-click="workers()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[3].active" heading="Registruj radnika" ng-click="registerWorker()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[4].active" heading="Raspored stolova" ng-click="setLayout()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[5].active" heading="Raspored smena" ng-click="setTimetable()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[6].active" heading="Meni" ng-click="menu()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[7].active" heading="Nabavka namirnica" ng-click="groceries()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[8].active" heading="Registruj ponuđača" ng-click="addBidder()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[9].active" heading="Izveštaj" ng-click="report()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
	</uib-tabset>
	
	</div>
</div>