<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/guest/restaurants-page"><span class="glyphicon glyphicon-home"></span>Restorani</a></li>
                <li class="active"><a href="#/guest/friends-page"><span class="glyphicon glyphicon-list-alt"></span>Prijatelji</a></li>
                <li class="active"><a href="#/guest/profile-page"><span class="glyphicon glyphicon-list-alt"></span>Moj nalog</a></li>
                <li class="active"><a href="#/guest/myReservations-page"><span class="glyphicon glyphicon-list-alt"></span>Moj rezervacije</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <button ng-click="logoff()"> Log out </button>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div>

        <div>
            <div id="custom-search-input" style="display:inline-block">
                <div class="input-group col-md-2">
                    <input type="text" ng-model="search.$" class=" search-query form-control" placeholder="Bilo šta" />
                    <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>

            <div id="custom-search-input" style="display:inline-block">
                <div class="input-group col-md-2">
                    <input type="text" ng-model="search.name" class=" search-query form-control" placeholder="Samo ime" />
                    <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>

            <div id="custom-search-input" style="display:inline-block">
                <div class="input-group col-md-2">
                    <input type="text" ng-model="search.distance" class=" search-query form-control" placeholder="Samo udaljenost" />
                    <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>

            <div id="custom-search-input" style="display:inline-block">
                <div class="input-group col-md-2">
                    <input type="text" ng-model="search.rating" class=" search-query form-control" placeholder="Samo rejting" />
                    <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>

            <div id="custom-search-input" style="display:inline-block">
                <div class="input-group col-md-2">
                    <input type="text" ng-model="search.friendsRating" class=" search-query form-control" placeholder="Samo prijatelji" />
                    <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="table-responsive">
                            <table id="searchObjResults" class="table table-bordred table-striped">

                                <thead>
                                    <tr>
                                        <th> Ime restorana  <button class="btn btn-primary  btn-xs" ng-click="changeSort('name')">↓</button></th>
                                        <th>Udaljenost[km] <button class="btn btn-primary  btn-xs" ng-click="changeSort('distance.distanceKm')">↓</button></th>
                                        <th>Rejting <button class="btn btn-primary  btn-xs" ng-click="changeSort('rating')">↓</button></th>
                                        <th>Prijatelji <button class="btn btn-primary  btn-xs" ng-click="changeSort('friendsRating')">↓</button></th>
                                        <th>Rezervacija</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="restaurantObj in restaurantsPage | filter:search | orderBy : currentSort">
                                        <td>{{ restaurantObj.name }}</td>
                                        <td>{{ restaurantObj.distance.distanceKm }}</td>
                                        <td>{{ restaurantObj.rating }}</td>
                                        <td>{{ restaurantObj.friendsRating }}</td>
                                        <td>
                                            <button class="btn btn-primary btn-xs" data-title="Rezervisi" data-toggle="modal" ng-click="reserve(restaurantObj.id)">
                                                Rezerviši
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>