<style>
  /**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
  
  .simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
  }
  /**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
  
  .simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
  }
  /**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
  
  .simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
  }
  
  .simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
  }
  /**
 * Show selected elements in green
 */
  
  .simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
  }
</style>

<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
                <li><a href="#/guest/home-page"><span class="glyphicon glyphicon-home"></span>Pocetna strana</a></li>
                <li><a href="#/guest/restaurants-page"><span class="glyphicon glyphicon-list-alt"></span>Restorani</a></li>
                <li><a href="#/guest/friends-page"><span class="glyphicon glyphicon-list-alt"></span>Prijatelji</a></li>
                <li><a href="#/guest/profile-page"><span class="glyphicon glyphicon-list-alt"></span>Moj nalog</a></li>
                <li><a href="#/guest/myReservations-page"><span class="glyphicon glyphicon-list-alt"></span>Moj rezervacije</a></li>
            </ul>
      <ul class="nav navbar-nav navbar-right">
        <button ng-click="logoff()"> Log out </button>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
  <div>
    <button class="btn btn-danger" ng-click="cancelReservation()" ng-if="userInfo.userId === reservationDetailsPage.guestId">Cancel reservation </button>
    <button class="btn btn-success" ng-click="confirmAttendance()" ng-if="userInfo.userId !== reservationDetailsPage.guestId && !reservationDetailsPage.confirmed">Confirm attendance </button>
    <button class="btn btn-danger" ng-click="cancelAttendance()" ng-if="userInfo.userId !== reservationDetailsPage.guestId && reservationDetailsPage.confirmed">Cancel attendance </button>
    <button class="btn btn-info" ng-disabled="userInfo.userId !== reservationDetailsPage.guestId && !reservationDetailsPage.confirmed"
      ng-click="updateReservationOrders()">Update reservation orders</button>
  </div>

  <div>
    <div class="simpleDemo row">

      <div class="col-md-8">
        <div class="row">
          <div ng-repeat="(listName, list) in models.lists" class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">List {{listName}}</h3>
              </div>
              <div class="panel-body" ng-include="'/pages/guest/reservationDetails/simple.html'"></div>
            </div>
          </div>
        </div>

        <div view-source="simple"></div>


      </div>


    </div>
  </div>
</div>