<div class="container-fluid">

<div class="row">

	<div class="col-md-8 col-lg-8 columns form">
	
	    <form novalidate name="registerRestaurantForm">
	        
	        <h4 class="text-center">Novi restoran</h4>
	        
	    	<div class="form-group">
	            <label for="inputRestaurantName">Naziv</label>
				<input type="text" required ng-model="restaurant.name" required id="inputRestaurantName" class="form-control" placeholder="Zanimljivo ime restorana">
	      	</div>
	      	<div class="form-group">
	            <label for="inputRestaurantDescription">Opis</label>
	            <input type="text" required ng-model="restaurant.description" id="inputRestaurantDescription" class="form-control" placeholder="Mnogo dobar opis restorana">
	        </div>
	        <div class="form-group">
	            <label for="inputRestaurantAddress">Adresa</label>
	            <input type="text" required ng-model="restaurant.address" id="inputRestaurantAddress" class="form-control" placeholder="Mesnih Odrezaka 20, Nova Rerna">
	        </div>
	        <div class="form-group">
	            <label for="inputRestaurantPhone">Telefon</label>
	            <input type="text" required ng-model="restaurant.phone" id="inputRestaurantPhone" class="form-control" placeholder="555-1234">
	        </div>
	        <div class="form-group">
	            <label for="inputRestaurantEmail">E-mail</label>
	            <input type="text" required ng-model="restaurant.email" id="inputRestaurantEmail" class="form-control" placeholder="restaurant@mail.com">
	        </div>
	        <p><a type="submit" class="btn btn-success btn-block" ng-click="createRestaurant()">Kreiraj restoran</a></p>
	        <p><a type="submit" class="btn btn-danger btn-block" ng-click="cancel()">Odustani</a></p>
	        
	    </form>
	
	</div>

	<div class="col-md-4 col-lg-4">
		<ng-map center="{{restaurant.address}}" style="height: 100%;">
			<marker position="{{restaurant.address}}"
		    	title="{{restaurant.name}}"
		      	centered="true">
			</marker>
		</ng-map>
	</div>

</div>
</div>