<!--  <div>

    <div class="collapse navbar-collapse" ng-controller="waiterProfileController">
	    <ul class="nav navbar-nav">
	        <li><a ng-class="{ active: activePageNumber == 0}" ng-click="home()">My Profile</a></li>
	        <li><a ng-class="{ active: activePageNumber == 1}" ng-click="seeWorkSchedule()">My Work Schedule</a></li>
	        <li><a ng-class="{ active: activePageNumber == 2}" ng-click="seeRestaurantRegion()">My Restaurant Region</a></li>
	        <li><a ng-class="{ active: activePageNumber == 3}" ng-click="seeOrders()">Orders 4 Me</a></li>
	    </ul>
	</div>

    <div>
        <ui-view></ui-view>
    </div>
</div>
-->

<div>
	<div ng-controller="waiterProfileController">
	
	<uib-tabset justified="false" class="tabs">
		<uib-tab active="tabs[0].active" heading="Početna" ng-click="home()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[2].active" heading="Radni kalendar" ng-click="seeWorkSchedule()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[3].active" heading="Region restorana" ng-click="seeRestaurantRegion()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab active="tabs[4].active" heading="Porudžbine" ng-click="seeOrders()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		
	</uib-tabset>
	
	</div>
</div>