<div>
    <div class="container">
        <div style="margin-left: 18%" class="carousel-caption">
            <form role="form">
                <p><input ng-model="user.username" type="email" class="form-control form-control-lg" placeholder="Enter your email"></p>
                <p><input ng-model="user.password" type="password" class="form-control form-control-lg" placeholder="Enter your password"></p>
                <p><button ng-click="login()" type="submit" class="btn btn-primary btn-md">Login</button></p>
            </form>
        </div>
    </div>
</div>