<div ng-cloak ng-controller="LoginController">

    <div class="container">
        <div style="margin-left: 18%" class="carousel-caption col-xs-3">
            <form role="form">
                <p><input ng-model="user.email" type="email" class="form-control form-control-lg" placeholder="Enter your email"></p>
                <p><input ng-model="user.password" type="password" class="form-control form-control-lg" placeholder="Enter your password"></p>
                <p><button ng-click="login(user)" type="submit" class="btn btn-primary btn-md">Login</button></p>
            </form>
        </div>
    </div>
</div>