<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />

<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/guest/restaurants-page"><span class="glyphicon glyphicon-home"></span>Restorani</a></li>
                <li class="active"><a href="#/guest/friends-page"><span class="glyphicon glyphicon-list-alt"></span>Prijatelji</a></li>
                <li class="active"><a href="#/guest/profile-page"><span class="glyphicon glyphicon-list-alt"></span>Moj nalog</a></li>
                <li class="active"><a href="#/guest/myReservations-page"><span class="glyphicon glyphicon-list-alt"></span>Moj rezervacije</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <button ng-click="logoff()"> Log out </button>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div>

        <div>
            <strong>Restoran:</strong><span>{{ reserve1Page.restaurantName}}</span>
            <br>
            <strong>Datum i vreme:</strong>
            <!-- 
             <div style="display:inline-block; min-height:290px;">
                <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
            </div>
            -->

            <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions"
                            ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                    </p>
                </div>

                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <!--<button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>-->
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                <!-- <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>-->
            </div>
            <div>
                <input type="number" name="input" ng-model="duration" min="0" max="5" required>
            </div>




            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Time</label>
                    <div class="col-sm-10">
                        <p class="input-group">
                            <input type="text" class="form-control" datetime-picker="HH:mm" ng-model="picker2.date" is-open="picker2.open" enable-date="false"
                                timepicker-options="picker2.timepickerOptions" close-on-selection="true" />
                            <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'picker2')"><i class="fa fa-clock-o"></i></button>
              </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">model</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ picker2.date }}</p>
                    </div>
                </div>
            </form>

            <br>

            <button class="btn btn-info" ng-click="reserve(restaurant.id)">
                    Dalje >>
            </button>

        </div>

    </div>
</div>