<!-- <div>
	<div ng-controller="bidderProfileController">
	
	<uib-tabset justified="true" class="tabs">
		<uib-tab index="0" heading="Početna" ng-click="home()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab index="1" heading="Nova ponuda" ng-click="newBidding()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab index="2" heading="Pregled ponuda" ng-click="overview()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<uib-tab index="3" heading="Sve ponude" ng-click="biddings()">
			<div>
				<ui-view></ui-view>
			</div>
		</uib-tab>
		<button type="button" class="btn btn-warning pull-right" ng-click="logout()">Odjavi me</button>
	</uib-tabset>
	
	</div>
</div>
-->

<nav class="navbar navbar-default">
	<div class="container-fluid">
	
    <div class="collapse navbar-collapse" ng-controller="bidderProfileController">
	    <ul class="nav navbar-nav">
	        <li id="li1" class="active"><a ng-click="home()">Početna</a></li>
	        <li id="li2"><a ng-click="newBidding()">Nova ponuda</a></li>
	        <li id="li3"><a ng-click="overview()">Pregled ponuda</a></li>
	        <li id="li4"><a ng-click="biddings()">Sve ponude</a></li>
	    </ul>
	    <button type="button" class="btn btn-warning navbar-btn pull-right" ng-click="logout()">Odjavi me</button>
	</div>

    <div>
        <ui-view></ui-view>
    </div>
    
    </div>
</nav>